:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

// ColorPalette:

.bg-green {
  background-color: #20AD96;
}

.bg-blue {
  background-color: #3F3A64;
}

.bg-lightblue {
  background-color: #F5F7FA;
}

.bg-panna {
  background-color: #F5F1ED;
}

.bg-grey {
  background-color: #696969;
}

.bg-violet {
  background-color: #8C89A2;
}

.bg-white {
  background-color: #F8F8F8;
}

// colors

.green {
  color: #20AD96;
}

.blue {
  color: #3F3A64;
}

.lightblue {
  color: #F5F7FA;
}

.panna {
  color: #F5F1ED;
}

.grey {
  color: #696969;
}

.violet {
  color: #8C89A2;
}

.white {
  color: #F8F8F8;
}